<% include ../partials/header %>

  <div class="row">
    <h1 style="text-align: center">Add New Side Effect for <%= treatment.date %> treatment </h1>
    <div style="width:50%; margin: 25px auto;">

      <form  action="/treatments/<%= treatment._id %>/comments" method="POST">
        <div class="form-group">
            <input type = "form control" class="input-mysize" name="comment[date]" placeholder="Date"  />
        </div>
        <div class="form-group">
            <input type ="form control"  class="input-mysize"
            name="comment[text]" placeholder="Treatment" />
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Log</button>
        </div>
      </form>

      <a href="/treatments">Go Back</a>
    </div>
  </div>



<% include ../partials/footer %>
